@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Flex */
  .flex-center {
    @apply flex items-center justify-center w-full h-full;
  }
  .flex-between {
    @apply flex flex-row items-center justify-between w-full;
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center w-full;
  }

  .flex-col-between {
    @apply flex flex-col items-center justify-between w-full;
  }

  /* Container */
  .main-area {
    @apply flex flex-1 flex-col bg-background text-foreground px-4 lg:px-6;
  }
  .safe-area {
    @apply flex-1 bg-background;
  }

  /* Text */
  .separate-words {
    @apply break-words line-clamp-1 truncate;
  }
  .separate-words-2 {
    @apply break-words line-clamp-2 truncate;
  }
}
